.imageList {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 0;
  width: 50rem;
}

.linkImage {
  position: relative;
}

.imageText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  font-size: 4.5rem;
}

.imgCategory {
  background-color: white;
  display: block;
  opacity: 0.5;
  border-radius: 1rem;
}

.imgBox {
  background-color: white;
  list-style: none;
}
