.logOutContainer {
  text-align: center;
  width: 30%;
  height: 8rem;
  border: dashed grey;
  padding: 1rem;
}

.logOutDisclamer {
  text-transform: uppercase;
  margin-top: 0;
}

.buttonsLogOut {
  display: flex;
  justify-content: center;
  gap: 3rem;
}
